### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
*.bat

# CodeLite IDE
*.mk
*.project
.codelite/
*.workspace
Makefile

### macOS ###
*.DS_Store